/* About us */
.qtip .menu-minipanels.menu-minipanel-3488 .panel-col-first .inside {
    background-color: #00A7A7 !important; /* default */
}

/* Investment Services */
.qtip .menu-minipanels.menu-minipanel-1255 .panel-col-first .inside {
    background-color: #c8102e !important;
}

/* Intermediaries */
.qtip .menu-minipanels.menu-minipanel-3147 .panel-col-first .inside {
    background-color: #d25810 !important;
}

/* SIPPS and ISAs */
.qtip .menu-minipanels.menu-minipanel-1478 .panel-col-first .inside {
    background-color: #c8102e !important;
}

/* Investor Relations */
.qtip .menu-minipanels.menu-minipanel-3674 .panel-col-first .inside {
    background-color: #871c79 !important;
}
