{{#if payload}}
<li class="animated fadeInLeft list-group-item background-color-custom">
        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
        <td style="vertical-align:top;">
            <img width="40" height="40" class="bot-logo-image" style="border:none;" /></td>
            <td><div class="media-body bot-txt-space">
                <p class="list-group-item-text-bot">{{{payload}}}</p>
                <p class="bot-res-timestamp"><small> <img style="border-radius:50%;border:2px solid white;"/>{{time}}</small></p>

            </div></td>
            </tr>
        </table>


        </li>
        {{/if}}