<li class="list-group-item background-color-custom">
    <div class="media-left pull-right animated fadeInRight">

        <div class="media-body user-txt-space">
            <img width="40" height="40" style="float:right;" class="user-logo-image" />
            <p class="list-group-item-text-user">{{payload}}</p>
            <p class="user-timestamp">
                <small>{{time}}</small>
            </p>

        </div>

</li>